<!-- Footer -->
<footer class="base-footer">
    <div class="container container-footer">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4>About</h4>
                <p>Raised Grain co. is family owned and based out of the Pacific Northwest. Everything I make is with turn of the century tools and techniques.</p>
                {{!-- <ul class="list-unstyled no-list-style">
                    <li><span class="color-white">Location:</span> <span class="contact_address"></span></li>
                    <li><span class="color-white">Tel:</span> <span class="contact_phone"></span></li>
                    <li><span class="color-white">Email:</span> <span class="contact_email"></span></li>
                </ul> --}}
            </div>
            {{!-- <div class="col-sm-12  col-md-4">
                <h4>Information</h4>
                <ul class="list-unstyled">
                    {{#foreach @blog.navigation}}
                    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{{label}}}</a></li>
                    {{/foreach}}
                </ul>
            </div> --}}
            {{!-- <div class="col-sm-12 col-md-4">
                <h4>Newsletter</h4>
                {{> widget-footer-newsletter}}
                <p>For our news update subscribe to our newsletter. You can unsubscribe anytime.</p>
            </div> --}}
        </div>
    </div>
    <div class="container copy">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <p><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 col-md-6 text-right">
                {{> social}}
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->